@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define custom CSS variables */
:root {
    --primary-color: rgba(160, 173, 185, 0.7);
    --secondary-color: #66CCFF;
    --text-color: #050000;
    --link-color: #990000;
}

/* General styling for headings and paragraphs */
h1, h2, p {
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #dcdfcc;
}

/* Logo styling */
.logo {
    flex: 1;
}

/* Navigation styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    background-color: #cec5c5;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #e6dbdb;
}

/* Hero section styling */
.container hero {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.hero img {
    display: flex;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 60%;
    bottom: 0;
    left: 30%;
    transform: translate(-10%, -50%);
    padding: 20px;
}

.hero article {
    position: absolute;
    top: 80%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--text-color);
    width: 70%;
}

.hero article img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: center;
    width: 250px;
    height: auto;
    border: 1px solid rgb(202, 208, 212);
    padding: 2px;
    box-shadow: 0 0 10px rgb(219, 214, 214);
    float: right;
    margin: 0 0 0 1rem;
}

/*History section styling*/

.history {
    text-align: center;
}

.history img {
    max-width: 250Px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-left: 15px;
}

.history-text p{
    text-align: inherit;
}

/* Adventures section styling */
.adventures h2 {
    text-align: center;
    padding: 50px;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 10px; /* Add some gap between images */
}

.image-grid figure {
    flex: 1 1 100px; 
    text-align: center;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.image-grid figcaption {
    margin-top: 10px;
}

/* Footer styling */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sociallinks img {     
    width: 40px;
    height: 40px;
    margin-left: 10px;
}





  









  
 