@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: rgba(160, 173, 185, 0.7);
    --secondary-color: #66CCFF;
    --text-color: #050000;
    --link-color: #990000;
  }

  h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  
h1 {
    color: var(--text-color);
}

p {
    color: var(--text-color);
    
  }
  
a {
    text-decoration: none;
  }

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 5px;
    border-radius: 1px;
    border-width: 50px;
    background-color: var(--primary-color);
    width: 100%;
}
  
.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--text-color);
    width: 70%;
  }
  
.hero article img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(202, 208, 212);
    padding: 2px;
    box-shadow: 0 0 30px rgb(204, 202, 202);
    float: right;
    margin: 0 0 0 1rem;
}

img {
    overflow: hidden;
}  

.image-section{
  display: flex;
  flex-direction: column;
}

.image-section img {
  max-width: 50%;
  margin-bottom: 10px;
}

.image-section img::after {
content: attr(alt);
display: block;
text-align: center;
}

footer nav.sociallinks a img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

nav {
  text-align: left;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
  
 